body{
    background-color: #8a4434;
}

.cls-1 {
    fill: #373838;
  }

  .cls-2 {
    fill: #2eae4d;
  }

  .cls-3 {
    fill: #c4c3c3;
  }

  .cls-4 {
    fill: #282f5d;
  }

  .cls-5 {
    fill: #fdfdfd;
  }

  .cls-6 {
    fill: #f8f7f7;
  }

  .cls-7 {
    fill: #f2f1f0;
  }

  .cls-8 {
    fill: #897d75;
  }

  .cls-9 {
    fill: #d7d1ca;
  }

  .cls-10 {
    fill: #c1188d;
  }